name: run autobuild.sh
on:
  schedule:
    # - cron: '0 1 * * 6'
    # - cron: '0 */6 * * *' # Every 6 hours: 0AM, 6AM, 12PM, 6PM UTC
    - cron: '0 * * * *' # Every hour on the hour (0 minutes past every hour)
  workflow_dispatch:
jobs:
  autobuild-sh:
    runs-on: ubuntu-latest
    name: run autobuild.sh
    steps:
      - name: checkout code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.OTHER_TOKEN }}
      - name: run autobuild.sh
        shell: bash
        run: |
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git config --global user.name "${{ github.actor }}"
          ./autobuild.sh -p
